<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <base href="/">
    <link rel="stylesheet" href="css/style2.css">
    <title>To Do List</title>
</head>
<body>
 
    <form action="/tasks/<%=data[0].user_code%>/create_task" method="POST">
        
        <input type="text" name="task" class="todo-input">
        <input type="hidden" name="user_code" value="<%=data[0].user_code%>">
        <button class="todo-button" type="submit">
            <i class="fas fa-plus-square"></i>
        </button>
    </form>
    
    <div class="todo-container">
      
            <ul class="todo-list"> <%for(x = 0 ; x < data.length; x++){%>
               
                <div class="todo">
                    <li class="todo-item"><%=data[x].task%></li>
                    <form action="/tasks/<%=data[x].user_code%>/<%=data[x].task_id%>/delete_task"  method="POST">
                    <input type="hidden" name="task_id"  id="task_id" value="<%=data[x].task_id%>">
                    <button class="complete-btn"><i class="fas fa-check"></i></button>
                    <button class="delete-btn"  type="submit"><i class="fas fa-trash"></i></button>
                    <!-- <a href="/tasks/<%=data[x].task_id%>/<%=data[0].user_code%>"" class="delete-btn"><i class="fas fa-trash"></i></a> -->
                </div>
                <%}%></ul>
            </form>
    </div>
</body>
</html>
<script>
    const todoInput = document.querySelector('.todo-input');
    const todoButton = document.querySelector('.todo-button');
    const todoList = document.querySelector('.todo-list');
  
  ;
    todoList.addEventListener("click",deleteTodo);
   


    function deleteTodo(event){
        const item = event.target;
        if(item.classList[0] === 'delete-btn'){
            const todo = item.parentElement;
            todo.classList.add("fall");
            todo.addEventListener('transitionend',function(){
                todo.remove();
            });
            
        }
        if(item.classList[0] === 'complete-btn'){
            const todo = item.parentElement;
            todo.classList.toggle("completed"); 
        }
    }
   

</script>